h1{
    background-color:  transparent;
    color: black;
    position: relative;
}
header, footer{
    font-family: Georgia, serif;
    font-size: large;
    width: 60%;
    border: 5px solid grey;
    background-color: cornflowerblue;
    border-radius: 120px;
    padding: 1%;

}
footer#teine{
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
}
nav ul{
    list-style-type: none;
    text-align: center;
    margin: 1%;
    padding: 0;
    background-color: darkblue;

}
nav li{
    float: left;
    padding: 1%;
    transition: transform 0.2s;
}
nav li:hover{
    transform: scale(1.09);

}

main {
    display: block;
    margin: 50px;
    padding: 1%;
}
nav a:hover{
    background-color: darkblue;

}
nav li a{
    font-family: Georgia, serif;
    font-size: large;
    text-decoration: none;
    display: inline;
    padding: 1rem 1rem;
    background-color: cornflowerblue;
    color: white;
    border: 2px solid darkblue;
    border-radius: 20px;

}

/*------------------------------*/
section#osa1 {
    width: 20%;
    border-right:  solid 1px cornflowerblue;
    border-bottom: solid 1px cornflowerblue;
    background-color: cornflowerblue;
    border-radius: 60px;
    padding: 1%;
    margin-top: 1%;
}
section#osa1 h3{
    text-align: Center;
    border-radius: 60px;
    padding: 1%;
    font-weight: bold;
    font-variant: small-caps;

}
section#osa2 {
    width: 20%;
    border-right:  solid 1px cornflowerblue;
    border-bottom: solid 1px cornflowerblue;
    background-color: cornflowerblue;
    border-radius: 60px;
    padding: 1%;
    margin-top: 10px;
}
section#osa2 h3{
    text-align: center;

    border-radius: 60px;
    padding: 1%;
    font-weight: bold;
    font-variant: small-caps;
}
section#osa3 {
    width: 20%;
    border-right:  solid 1px cornflowerblue;
    border-bottom: solid 1px cornflowerblue;
    background-color: cornflowerblue;
    border-radius: 60px;
    padding: 1%;
    margin-top: 10px;
}
section#osa3 h3{
    text-align: center;

    border-radius: 20px;
    padding: 1%;
    font-weight: bold;
    font-variant: small-caps;
}
/*------------------------------MEEDIA----------------------*/
section#pildigaleeri{

    text-align: center;
    border-radius: 25px;
    padding: 2%;
    background-color: cornflowerblue;
    margin-top: 2%;
    margin-bottom: 2%;
    outline-style: solid;

    }
section#pildigaleeri h3{
    color: white;
    font-size: 40px;
    }

section#video{
    text-align: center;
    font-size: 32px;

    border-radius: 25px;
    padding: 1%;
    background-color: cornflowerblue;
    margin-top: 1%;
    margin-bottom: 1%;
    outline-style: solid;
    }
section#video h3{
    color: white;
    font-size: 40px;
    }

section#audio{

    text-align: center;
    font-size: 32px;
    font-weight: bold;
    border-radius: 50px;
    padding: 2%;
    background-color: cornflowerblue;
    margin-top: 2%;
    margin-bottom: 2%;
    outline-style: solid;

    }

section#audio h3{
    color: white;
    font-size: 40px;
}
    section#Maps{

    text-align: center;
    font-size: 32px;
    font-weight: bold;
    border-radius: 50px;
    padding: 2%;
    background-color: cornflowerblue;
    margin-top: 1%;
    margin-bottom: 2%;
    outline-style: solid;
}
section#Maps h3{
    color: white;
    font-size: 40px;
}
section#alumine{
    position: relative;
    text-align: left;
    padding: 1%;

}
img#pilt{
    position: relative;
    width: 25%;
    height: 25%;
}
img#pilt2{
    width: 250px;
    height: 250px;
    position: relative;
}
#hariduskaik,#snnipaev,#hobid{
    position: relative;

}
#snnipaevdiv,#hobiddiv,#haridusdiv{
    position: relative;
    display: none;
}
