body {
    background-color: cornflowerblue;
    padding: 30px;

}

main {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

h1{
    border: black solid 1px;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
}
h2, h3 {
    color: black;
    background: wheat;
}

table {
    background-color: darkblue;
    padding: 8px;
}

td {
    padding: 8px;
    background-color: saddlebrown;
}

ol {
    padding-left: 24px;
    background: grey;
}
ul {
    padding-left: 24px;
    background:mediumslateblue;
}
p {
    padding-left: 24px;
    background:firebrick;
}

